@font-face {
    font-family: myFirstFont;
    src: url(Americorp.otf);
    font-weight: bold;
  }

.Card {
     background-color:rgb(75, 125, 233);
     flex-direction: column;
     display: flex;
     margin: 15px;
     width: 17vw;
     height: 42vh;
     border-radius: 10px;
     transition: 200ms ease-in-out;
     visibility: visible;
    }

    .Card:hover {
transform:scale(1.07);
background-color:rgb(150, 167, 206);
box-shadow: 5px 5px 28px 5px rgba(0,0,0,0.73);
height:52vh;

    }

    .Card:active {
/* transform: rotateY(180deg); */
transition: 700ms ;
background-color: rgba(50, 119, 230, 0.993);

    }

    .Card:active img {
        height: 31.8vh;
        visibility: hidden;
       transition: 100ms ;
           }
           .Card:active h3 {
            visibility: hidden;
            transition: 100ms ;
                }
                .Card:active h4 {
                    visibility: hidden;
                    transition: 100ms ;
                        }


.Card > img {
 background-size: contain;
 margin: 10px;
 border-radius: 20px;
 transition: 600ms ease-in-out;

    }

    .Card:hover > img {
        background-size: contain;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 2px 2px 28px 5px rgba(0,0,0,0.53);
       
           }



.Card > h3 {
margin-top: 5px;

font-size: 30px;
color: rgb(12, 27, 112);
transition: 200ms ;     
    }

.Card > h4 {
    margin-top: 30px;
    margin: 10px;
        font-size: 25px;
        color: rgb(235, 210, 98);
        transition: 200ms ;
    }

    .Card:hover > h4 {
color: red;

    } 
   
    .Card:hover > h3 {
        color: rgb(48, 8, 71);
        transform:scale(1.05);
            } 

 h2{
    
    color: rgba(27, 114, 190, 0);
    transition: 10ms ;
    
}
.Card:active h2{
    font-family: 'myFirstFont';
    position: absolute;
    width: 100%;
    height: 47.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    font-size: 30px;
    transition: 100ms ;
    /* transform: rotateY(180deg); */
    background-color: rgb(53, 53, 105);
    color: rgb(149, 199, 243);
    border-radius: 10px 10px 0 0;
    /* scale: 0.9; */
}
.Card > button > img {
    
    filter: grayscale(100);
    position: relative;
    background-color:rgb(255, 255, 255);
    
    
width: 100%;
border-radius:0px 0px 20px 20px;
}

.Card:hover > button > img {
    filter: grayscale(0);
    position: relative;
    background-color:rgb(255, 255, 255);
    height: 18.2vh;
width: 100%;
border-radius:0px 0px 20px 20px;

}
.Card > button{
   
    border-radius:0px 0px 20px 20px;

}

.Card:hover > button{
    visibility: visible;
    border-radius:0px 0px 20px 20px;

}